@import "../../../styles/variables/other";

.video {
  margin-bottom: $margin;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
}