@import "../../../styles/variables/colours";

.signIn {
  display: flex;
  margin-right: 5px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 7%;
  padding: 4px 16px 2px 8px;
  border: 1px solid $color-search-border;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 500;
  color: $color-sign-in-text;
  cursor: pointer;

  &:hover {
    background-color: $color-sign-in;
    border: 1px solid $color-sign-in;
  }

  &SVG {
    fill: $color-sign-in-text
  }
}