@import "reset.css";

body {
  font-family: "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f0f0f;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.tooltip:hover::after {
  content: attr(data-tooltiptext);
  position: absolute;
  top: 35px;
  translate: -65% 50%;
  padding: 10px;
  border-radius: 4px;
  background-color: #606060;
  color: #fff;
  font-size: 0.7rem;
  z-index: 100;
}