@import "../../../styles/variables/colours";

.settings {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative; //for tooltip

  &SVG {
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      fill: $color-settings-dark;
    }
  }
}