@import "../../styles/variables/colours";

.modalLogin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;

  background-color: $color-login-light;
}