@import "../../styles/variables/colours";

.modalLogin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;

  background-color: $color-login-light;
}