@import "../../styles/variables/breakpoints";

.navigationContainer, .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {

  &Container {
    padding-block: 10px;
    padding-inline: 14px;

    @media (min-width: $breakpointML) {
      gap: 20px;

    }
  }
}

.wrapper {
  flex-shrink: 0;
  gap: 14px;
}