.navigation {

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //gap: 3%;
    padding-block: 10px;
    padding-inline: 14px;
  }
}

.wrapperLeft {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 14px;
}

.wrapperRight {
  display: flex;
  justify-content: space-between;
  gap: 14px;

}