$color-search-border-light: #ccc;
$color-search-border-dark: #303030;
$color-search-button-light: #f8f8f8;
$color-search-button-dark: #222222;
$color-search-button-hover: #f0f1f0;
$color-sign-in-light: #def1ff;
$color-sign-in-dark: #3f3f3f;
$color-sign-in-text-light: #065fd4;
$color-sign-in-text-dark: #3da5fe;
$color-hamburger-hover-light: #e5e5e5;
$color-hamburger-hover-dark: #272a2e;
$color-badge-grey-background-light: #f2f2f2;
$color-badge-grey-background-dark: #272727;
$color-badge-black-background: rgba(0,0,0,0.8);
$color-badge-grey-text-light: #797979;
$color-badge-grey-text-dark: #aaaaaa;
$color-badge-black-text: #fff;
$color-grey-text-light: #797979;
$color-grey-text-dark: #999;
$color-text-light: #0f0f0f;
$color-text-dark: #f1f1f1;
$color-search-icon: #e3e3e3;
$color-background-dark: #0f0f0f;
$color-settings-dark: #fff;