@import "../../../styles/variables/colours";

.search {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  max-width: min(45%, 650px);


  &Input, &Button {
    all: unset;
    padding-block: 6px;
    padding-inline: 16px;
    border: 1px solid $color-search-border-light;

    @media (prefers-color-scheme: dark) {
      border-color: $color-search-border-dark;
    }
  }

  &Input {
    flex-grow: 1;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &Button {
    padding-inline: 19px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-left: none;
    background-color: $color-search-button-light;
    cursor: pointer;
    position: relative;

    @media (prefers-color-scheme: dark) {
      background-color: $color-search-button-dark;
    }

    &:hover::after {
      content: attr(data-tooltiptext);
      position: absolute;
      top: 40px;
      translate: -30% 50%;
      padding: 10px;
      border-radius: 4px;
      background-color: #606060;
      color: #fff;
      font-size: 0.7rem;
    }

    &:hover {
      background-color: $color-search-button-hover;
    }
  }

  &SVG {
    display: flex;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      fill: $color-search-icon;
    }
    //translate: 0 2px;
  }
}
