@import "../../../styles/variables/colours";
@import "../../../styles/variables/breakpoints";

.search {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: stretch;
  max-width: min(45%, 650px);

  @media (max-width: $breakpointML) {
    margin-left: auto;
  }

  &Input, &Button {

    &:focus, {
      outline: 0;
      border-color: $color-sign-in-text-light;

      z-index: 10;
    }

    @media (min-width: $breakpointML) {
      padding-block: 6px;
      padding-inline: 16px;
      border: 1px solid $color-search-border-light;

      @media (prefers-color-scheme: dark) {
        border-color: $color-search-border-dark;
      }
    }

    @media (min-width: $breakpointML) {
      justify-content: center;
    }
  }

  &Input {
    flex-grow: 1;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    @media (prefers-color-scheme: dark) {
      color: $color-text-dark;
    }

    @media (max-width: $breakpointML) {
      display: none;
    }
  }

  &Button {
    border-radius: 500px;

    cursor: pointer;
    position: relative; //for tooltip

    @media (prefers-color-scheme: dark) {
      background-color: $color-search-button-dark;
    }

    @media (min-width: $breakpointML) {
      margin-left: -1px;
      padding-inline: 19px;
      border-radius: 0 500px 500px 0;
      background-color: $color-search-button-light;
    }

    //tooltip position correction
    &:hover::after {
      top: 40px;
      translate: -30% 50%;
    }

    &:hover {
      background-color: $color-search-button-hover;
    }
  }

  &SVG {
    display: flex;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      fill: $color-search-icon;
    }
  }
}
