.videoButtonSVG {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  height: 48px;
  width: 68px;
  fill: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    fill: #f00;
  }
}