@import "../../../styles/variables/colours";
@import "../../../styles/variables/breakpoints";

.loginForm {

  --margin: 40px;
  --padding: 24px;

  @media (max-width: $breakpointM) {
    margin-top: 30%;
  }

  padding: var(--padding) var(--padding) 60px var(--padding);

  @media (min-width: $breakpointL) {
    padding: var(--padding);
  }

  background-color: white;
  border-radius: 30px;

  @media(min-width: $breakpointL) {
    display: flex;

    gap: 10%;
  }

  &Header {
    margin-top: var(--padding);

    line-height: 1.25;
    word-break: break-word;
    font-size: 2rem;

    @media (min-width: $breakpointXL) {
      font-size: 2.25rem;
    }
  }

  &Paragraph {
    margin-top: 16px;
  }

  &Container {
    &Company {

      margin-bottom: var(--margin);

      @media (min-width: $breakpointL) {
        display: flex;
        flex-direction: column;
      }
    }

    &Action {

      & > a {
        padding-bottom: 3px;
        padding-top: 9px;
      }
    }
  }
}

.inputContainer {

  &Email,
  &Password {
    position: relative;
    padding-block: 8px;

    --transition: 0.1s;

    &::before {
      content: attr(data-label);
      position: absolute;
      top: 50%;
      left: 5%;
      translate: 0% -50%;
      padding: 0.2%;

      transition: var(--transition);

      pointer-events: none;

      &:user-invalid {
        color: red;
      }
    }

    &:has(input:focus)::before,
    &:has(input:not(:placeholder-shown))::before {
      top: 11.5%;
      padding-inline: 2px;

      background-color: white;

      font-size: 0.7rem;
      font-weight: 500;
      color: $color-sign-in-text-dark;

      transition: var(--transition);
    }

    &:has(input:user-invalid)::before {
      color: $color-danger;
    }

    input {
      width: 100%;
      height: 28px;
      padding: 25px 15px;

      background-color: transparent;

      border: 1px solid $color-login-input;
      border-radius: 4px;

      color: $color-login-input;
      font-size: 1rem;

      text-align: left;

      &:focus {
        outline: unset;
        border: 1px solid $color-sign-in-text-light;
      }

      &:user-invalid {
        border-color: $color-danger;
      }

      &::placeholder {
        color: transparent;
      }
    }
  }

  &Other {
    margin-top: var(--margin);

    & > * {
      padding-bottom: 9px;

      font-size: 0.875rem;
    }

    & > p {

      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.42857143;
    }
  }

  &Buttons {
    margin-top: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}