@import "../../../styles/variables/colours";
@import "../../../styles/variables/breakpoints";

.header {
  position: absolute;
  padding: 16px;
  display: flex;
  width: 100%;
  max-height: fit-content;
  gap: 4%;

  border-bottom: 1px solid $color-badge-grey-text-dark;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: $color-sign-in-dark;
    color: $color-sign-in-text-dark;
  }

  @media (max-width: $breakpointM) {
    flex-direction: column;
  }

  // There are two containers &ContainerInfo and &ContainerAction but no &Container
  &Container {

    &Info{
      display: flex;
      column-gap: 2%;
      flex-grow: 1;

      & > svg {
        flex-shrink: 0;
        height: 36px;
        width: 36px;
        scale: 80%;
      }
    }

    &Action{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 5px;

      @media (max-width: $breakpointM) {
        padding-top: 3%;
        padding-left: 50%;
      }
    }
  }

  //Located in ContainerInfo
  &Information {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > p {
      //max-width: 72%;
    }

    & > p:first-of-type {
      line-height: 1.5;
      font-weight: 500;
    }

    & > p:last-of-type {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.42857143;
    }
  }

  &Link,
  &Button {
    border-radius: 500px;

    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    color: $color-sign-in-text-light;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      border-color: $color-sign-in-dark;
      color: $color-sign-in-text-dark;
    }

    &:hover {
      --hover_color: #f0f4f9;

      background-color: var(--hover_color);
    }
  }

  &Link {
    padding: 11px;
    text-decoration: none;
  }

  &Button {
    padding: 9px 24px;
    border: 1px solid $color-search-button-dark;
  }
}