.hamburger {

  &Container {
    cursor: pointer;
  }

  &SVG {
    width: 100%;
    height: 100%;
    padding-block: 6px;
    padding-inline: 8px;

    @media (prefers-color-scheme: dark) {
      fill: #fff;
    }

    &:hover {
      border-radius: 500px;
      background-color: #e5e5e5;
    }
  }
}