@import "../../../styles/variables/colours";

.hamburger {

  &Container,
  &SVG {

  }

  &Container {
    padding: 0;
    border: 0;

    cursor: pointer;
  }

  &SVG {
    width: 100%;
    height: 100%;
    padding: 8px;

    @media (prefers-color-scheme: dark) {
      fill: #fff;
    }


    &:hover,
    &:focus-within {
      border-radius: 500px;
      background-color: $color-hamburger-hover-light;

      @media (prefers-color-scheme: dark) {
        fill: #fff;
        background-color: $color-hamburger-hover-dark;
      }
    }
  }
}