@import "../../../styles/variables/colours";

.header1, .header2 {

  max-height: 5.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: $color-text-light;
  font-weight: 600;
  word-break: break-word;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    color: $color-text-dark;
  }
}

.header {

  &1 {
    font-size: 1.36rem;
    line-height: 2.8rem;
    font-weight: 700;
  }

  &2 {

    font-size: 0.875rem;
    line-height: 1rem;
  }
}